<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-orange-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Soy un <strong>Joven Desarrollador Web</strong>, con una sólida formación académica y gran motivación para comenzar mi carrera profesional. Durante mis estudios, adquirí conocimientos en tecnologías como <strong>Spring Boot, Angular, SQL, HTML, CSS, JavaScript</strong>, ... Soy una persona proactiva y comprometida con el aprendizaje continuo, siempre buscando nuevas oportunidades para mejorar mis habilidades.
      </p>
  
      <p>
        Disfruto trabajando en equipo, colaborando en proyectos y compartiendo conocimientos con los demás. Estoy listo para afrontar retos en el desarrollo y aprender rápidamente las nuevas tendencias tecnológicas.
      </p>
  
      <p>
        Mi objetivo es contribuir a proyectos importantes y crecer profesionalmente en un entorno dinámico y motivador.
      </p>
    </div>
  </article>
  